body {
  font-family: "AdobeCaslonPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #95C8CB;
  position: relative;
}

.top_graphic {
  background-image: url('../img/tenerife_opaque.png');
  width: 100%;
  height: 620px;
  position: relative;
  font-family: "CircularStd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  font-size: 3em;
  color: white;
  position: absolute;
  top:50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000;

}

.user_question {
  padding: 20px;
  border-radius: 10px;
  /*margin: 50px auto 0px auto;*/
  background-color: white;
  position:absolute;
  font-weight: 500;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftside {
  flex: 4;
}

.middle {
  flex: 1;
  font-size: 1.8em;
}

.rightside {
  flex: 4;
  position: relative;
}

.bottom_form {
  margin-top: 10px;
}

.form-row, #out {
  padding: 10px;
}

button {
  border-radius: 5px;
  background-color: #7DBCCC;
  padding: 7px 12px;
  font-weight: bold;
  /*margin: 20px auto 0px auto;*/
  border: 1px solid black;
  cursor: pointer;


}

#go {
  display: none;
  width: 35%;
  margin: auto;
}

#stravaresults {
  padding-top: 10px;
  margin: 20px auto 0px auto;
  width: 700px;
  background-color: white;
  /*display: none;*/
  border-radius: 10px;
  margin-top: 1em;

}

.segment {
  padding: 10px;
  margin: 10px;
  border-top: 1px solid grey;
  display: flex;
  font-weight: 500;
}

.segmentdata {
  width: 500px;
  flex-grow: 2;

}

.field {
  width: 70px;
  margin-left: 10px;
  padding: 5px;
}

#findmylocation {
  margin-left: 20px;
}

#findme {
  /*margin-left: 10px;*/

}

.resulttotal {
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px 15px 5px;
}

/*.geoask {
  font-weight: 300;
}*/

#geotell_lat, #geotell_long {
  font-style: italic;
}

#confirm {
  display: none;
  font-weight: 300;
  padding-top: 25px;
}

#area_q, #climb_q {
  display: none;
}

#climb_q {
  padding-bottom: 20px;
}

#credit {
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;

}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
