body {
  font-family: "AdobeCaslonPro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  background-color: #95C8CB;
  position: relative;
}

.top_graphic {
  background-image: url('../img/tenerife_opaque.png');
  width: 100%;
  height: 620px;
  position: relative;
  font-family: "CircularStd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title {
  font-size: 3em;
  color: white;
  position: absolute;
  top:50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000;

}

.user_question {
  padding: 20px;
  border-radius: 10px;
  /*margin: 50px auto 0px auto;*/
  background-color: white;
  position:absolute;
  font-weight: 500;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_form {
  display: flex;
}

.leftside {
  width: 45.25%;
}

.middle {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.8em;
}

.rightside {
  width: 45.25%;
  position: relative;
}

#rightbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.bottom_form {
  margin-top: 10px;
}

.form-row, #out {
  padding: 10px;
}

#go {
  border-radius: 5px;
  background-color: #7DBCCC;
  padding: 7px 12px;
  font-weight: bold;
  margin: 20px auto 0px auto;
  border: 1px solid black;
  cursor: pointer;
  display: none;
}

#stravaresults {
  padding-top: 10px;
  margin: 20px auto 0px auto;
  width: 700px;
  background-color: white;
  /*display: none;*/
  border-radius: 10px;
  margin-top: 1em;

}

.segment {
  padding: 10px;
  margin: 10px;
  border-top: 1px solid grey;
  display: flex;
  font-weight: 500;
}

.segmentdata {
  width: 500px;
  flex-grow: 2;

}

.field {
  width: 70px;
  margin-left: 10px;
  padding: 5px;
}

#findme, #findmylocation {
  margin-left: 10px;
  font-size: 0.8em;
}

.geolocate {
  margin: auto;
}

.resulttotal {
  font-weight: 500;
  font-size: 1.5em;
  padding: 10px 15px 5px;
}

.geoask {
  font-weight: 300;
}

#geotell_lat, #geotell_long {
  font-style: italic;
}

#confirm {
  display: none;
  font-weight: 300;
}

#area_q, #climb_q {
  display: none;
}

#credit {
  text-align: center;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;

}
